<%= form_for @citation do |f| %>
  <% if @citation.errors.any? %>
    <h2><%= pluralize(@citation.errors.count,"error") %> prevented:</h2>
    <ul>
      <%@citation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <%end %>
    </ul>
  <%end %>

<!--  <%#= f.label :author, "Author" %>
  <%#= f.text_field :author, {:class =>'form-control'} %>
  <br>
  <br>-->
  <%= f.label :content, "Quotation" %>
  <%= f.text_area :content, {:class =>'form-control'} %>
  <br>
  <br>
  <%= f.submit( {:class => 'btn btn-dark'} )%>

<% end %>