<a href="/citations/new">Add Quotations</a>

<h1>Quotation List</h1>

<% @citations.each do |cit| %>
  <div class="well">
    <h3><%= cit.author %></h3>
    <p> <%= cit.content %></p>
  </div>
<% end %>